[submodule "services/age-calc"]
	path = services/age-calc
	url = https://github.com/rayvoidx/age-calc.git
[submodule "services/bmi-calc"]
	path = services/bmi-calc
	url = https://github.com/rayvoidx/bmi-calc.git
[submodule "services/char-count"]
	path = services/char-count
	url = https://github.com/rayvoidx/char-count.git
[submodule "services/dday-calc"]
	path = services/dday-calc
	url = https://github.com/rayvoidx/dday-calc.git
[submodule "services/discount-calc"]
	path = services/discount-calc
	url = https://github.com/rayvoidx/discount-calc.git
[submodule "services/password-gen"]
	path = services/password-gen
	url = https://github.com/rayvoidx/password-gen.git
[submodule "services/percent-calc"]
	path = services/percent-calc
	url = https://github.com/rayvoidx/percent-calc.git
[submodule "services/salary-calc"]
	path = services/salary-calc
	url = https://github.com/rayvoidx/salary-calc.git
[submodule "services/tax-calc"]
	path = services/tax-calc
	url = https://github.com/rayvoidx/tax-calc.git
[submodule "services/unit-price"]
	path = services/unit-price
	url = https://github.com/rayvoidx/unit-price.git
